<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--DEV OBJ-->
    <bean id="dev" class="org.Spring.Dev" autowire="byName">
<!--        <property name="comp" ref="desktop"/>-->
    </bean>

<!--LAPTOP OBJ-->
    <bean id="comp" class="org.Spring.Laptop">

    </bean>
<!--DESKTOP OBJ-->
    <bean id="desktop1" class="org.Spring.Desktop" primary="true">

    </bean>
</beans>


<!--CREATING BEAN: You have to use the qualified name for the class - org.Spring.Dev-->
<!--THIS IS BEAN FOR Dev class. ID it's optional-->
<!--    <bean id="dev" class="org.Spring.Dev">-->
<!--Here assign properties for this class-->
<!--SETTER INJECTION-->
<!--        <property name="age" value="12"/>-->

<!--CONSTRUCTOR INJECTION-->
<!--        <constructor-arg value="14"/>-->

<!--INJECTING CLASS INSTANCE TO THIS OBJ (setter injection)-->
<!--        <property name="laptop" ref="laptop1"/>-->
<!--        <constructor-arg ref="laptop1"/>-->
<!--    </bean>-->


<!--    <bean id="dev1" class="org.Spring.Dev">-->
<!--    </bean>-->

